<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/alt.css">
		</head>
		<body>
            <nav>
                <ul>
                    {% for link in site.navigation %}
                        {% assign current = nil %}
                        {% if page.url contains link.url %}
                            {% assign current = 'current' %}
                        {% endif %}
                        <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endfor %}
                </ul>
            </nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/rodk88">Linkedin</a></li>
	        		<li><a href="https://www.github.com/rodstaff">Github</a></li>
	        		<li><a href="mailto:rodk1718@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
