<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="current">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        		<li><a href="/portfolio" class="current">Portfolio</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	    <li><a href="/blog" class="current">Blog</a></li> 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/rodk88">Linkedin</a></li>
	        		<li><a href="https://www.github.com/rodstaff">Github</a></li>
	        		<li><a href="mailto:rodk1718@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
